.App {
  display: grid;
  grid-gap: 24px;
  grid-template-areas:
    'content'
    'footer';
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  min-height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

.App__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: content;
}

.App__header {
  padding: 24px;
}

.App__title {
  font-family: 'proxima-nova', sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  width: 225px;
  margin: 0 auto;
  transform: rotate(-7deg);
}

.App__title span {
  color: #ffc600;
  font-family: 'cabazon', serif;
  font-size: 3.25rem;
}

.App__title strong {
  font-size: 2.25rem;
}

@media (min-width: 576px) {
  .App__title {
    font-size: 3.5rem;
    width: 476px;
  }

  .App__title span {
    font-size: 6.875rem;
  }

  .App__title strong {
    font-size: 4.5rem;
  }
}

@media (min-width: 576px) {
  .App {
    padding-left: 60px;
    padding-right: 60px;
  }
}
